*{
  box-sizing: border-box;
  margin: 0;
}

html {
  max-width: 1440px;
  padding: 0;
  color: darkslategray;
}

@media (max-width: 750px) {
  html {
    font-size: 90%;
  }
}

body {
  margin: 0 auto;
}

/* --- TYPOGRAPHY --- */

p {
  font-family: 'Adobe Garamond Pro', sans-serif;
}

.introTitle {
  font-family:'Adobe Garamond Pro', sans-serif;
  font-size: 2em;
  font-weight: 300;
}

.introSubtitle {
  font-family: 'Adobe Garamond Pro', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

.approachTitle {
  font-family: 'Poppins',sans-serif;
  font-size: 1.1em;
  letter-spacing: 3px;
  font-weight: 400;
  
  text-transform: uppercase;
}

.introParagraph {
  font-family: 'Adobe Garamond Pro', sans-serif;
  padding: 25px 25px 0px 0px;
}

.introApproachNumber {
  font-size: 3em;
  font-style: italic;
  color: black;
}

@media (max-width:750px) {
  .introApproachNumber {
    font-size: 2em;
  }
  .introApproachTitle {
    letter-spacing: 0px;
  }
}


.introApproachTitle {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 1px;
  font-weight: 300;
  color: black;
}

.specsTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8em;
  color: black;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.specsParagraph {
  font-family: 'Poppins', sans-serif;
  font-size: .7em;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}

.captionItalic {
  font-family: 'Adobe Garamond Pro', sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .9em;
}

.keytakeAwaysTittle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8em;
  color: black;
  letter-spacing: 1px;
  
  
  padding: 15px 0px;
  margin-left: 75px;
}

.keytakeAwaysList {
  list-style: none;
  padding: 0;
  margin-left: 75px;
  
  font-family: 'Poppins', sans-serif;
  font-size: .7em;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}

.keytakeAwaysTitle_bold {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.keytakeAwaysTitle_semibold {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
}

.keytakeAwaysTitle_regular {
  font-family: 'Poppins', sans-serif;
  font-size: .75em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.keytakeAwaysParagraph {
  font-size: .9em;
  padding-bottom: 15px;
}

@media (max-width:700px){
  .keytakeAwaysParagraph {
    width: 60%;
  }
}

.ctaPrototype {
  position: relative;
  background-color: white;
  
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-left: 25px;
  
  transition: all .3s ease-in-out;
}

.ctaPrototype:hover {
  background-color: black;
  color: white;
}

.circleGridTitle {
  font-family: 'Poppins',sans-serif;
  font-size: .9em;
  font-weight: 400;
  
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  
  color: maroon;
  
  padding: 15px 0px;
}

figcaption {
  font-family: 'Gill Sans', sans-serif;
  font-style: italic;
  font-size: .9em;
  letter-spacing: .5px;
}

.circleGridList {
  font-family: 'Avenir', sans-serif;
  font-weight: 200;
  font-size: .75em;
}

.careerItem h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

/*  -----  LAYOUT START HERE -----  */

/* HEADER STYLE */

header {
  width: 100vw;
  padding: 15px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px){
  header {
    flex-flow: column nowrap;
  }
  .menuList {
    width: 100vw;
  }
}

.menuList {
  min-width: 30vw;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  list-style: none;
  padding: 0;
}

.menuListItem {
  text-align: center;
}

.link {
    display: inline-block;
}

.linkMenu {
  font-family: 'Poppins',sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  
  color: black;
  padding: 15px;
}

.linkMenu:hover {
  text-decoration: line-through;
}

.headerLogo {
  width: 60px;
}

.headerLogo > a > img {
  max-width: 100%;
}

/* CONTAINER STYLE */

.container {
  height: 70vh;
  
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(2,1fr);
}

@media (max-width:1050px) {
  .container {
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
  }
}

.containerItem {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 3em;
}

.effectOne {
  background-color: white;
  color: lightgray;
  
  transition: all .4s ease-in-out;
}

.effectOne:hover {
  background-color: maroon;
  font-size: 10em;
}

@media (max-width:1050px){
  .effectOne:hover {
    background-color: gray;
    font-size: 3em;
    color: lightgray;
  }
  .effectOne:focus {
    background-color: maroon;
  }
}

.effectTwo {
  background-size: cover;
  background-position: right;
  color: dimgrey;
  
  transition: all .7s ease-in-out;
}

.effectTwo:hover {
  border: 25px double white;
  background-image: url(images/caseStudyHome/02_sgh.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: maroon;
  text-decoration: line-through;
}

.containerItemSpecial {
    overflow: hidden;
    position: relative;
  
    transition: border .4s ease-in-out;
}

.containerItemSpecial:hover {
  border: 5px solid white;
}

.containerItemSpecial:hover .effectThree {
    transform: translateY(250px);
    transform: scaleY(2);
}

.containerItemSpecial:hover .effectFive {
    transform: translateX(0px);
}

.containerItemSpecial:hover p {
    color: whitesmoke;
}

.containerItemSpecial p {
  width: 100%;
  height: 100%;
  
  position: absolute;
  float: right;
  z-index: 1;
  
  font-size: 5em;
  line-height: 4em;
  text-align: center;
  
  transition: all .3s ease-in-out;
}
.effectThree {
  width: 100%;
  height: 100%;
  background-color: #16174f;
  z-index: 0;
  
  transform: translateY(-250px);
  transform: scaleY(0);
  transition: all .8s ease-in-out;
}

.effectFour {
  background-image: linear-gradient( white,white );
  background-size: cover;
  background-position: right;
  color: black;
  opacity: 1;
  
  transition: all .4s ease-in-out;
}

.effectFour:hover {
  background-image: url(images/splash_bgrd.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 5em;
}

/* FOOTER */

.bottom {
  width: 70%;
  margin: 25px auto;
}

.bottomList {
  padding: 0;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  
  list-style: none;
}

.bottomListItem {
  font-size: .7em;
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  
  flex-basis: 25%;
}

@media (max-width: 1050px){
  .bottom {
    width: 100%;
  }
  
  .bottomList {
    justify-content: flex-start;
  }
  
  .bottomListItem {
    flex-basis: 25%;
  }
}

@media (max-width: 700px){
  .bottom {
    margin: 0;
    padding: 25px;
  }
  
  .bottomList {
    flex-flow: row wrap;
  }
  .bottomListItem{
    flex-basis: 50%;
    text-align: left;
  }
}

@media (max-width: 450px){
  .bottomList {
    border-left: 2px solid black;
    padding-left: 25px;
  }
  .bottomListItem {
    flex-basis: 100%;
  }
}

/* ---------- GUCCI DECODER START HERE ---------- */


/* --- LAYOUT --- */

.intro {
  width: 40vw;
  padding: 50px 0px;
}

@media (max-width: 1050px) {
  .intro {
    width: 80vw;
  }
}

@media (max-width: 750px) {
  .intro {
    width: 100vw;
  }
}

.introCv {
  width: 60vw;
}

@media (max-width: 1050px) {
  .introCv {
    width: 80vw;
  }
}

@media (max-width: 750px) {
  .introCv {
    width: 100vw;
  }
}

.introElements_leftMargin {
  margin-left: 75px;
}

@media (max-width: 750px) {
  .introElements_leftMargin {
    margin-left: 35px;
  }
}

.introArrow {
  position: relative;
  left: -25px;
}

.specsListDashed {
  padding: 0;
  margin: 0;
  list-style: none;
}

.specs {
  width: calc(40vw - 75px);
  
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 1050px) {
  .specs {
    width: calc(80vw - 75px);
  }
}

@media (max-width: 750px) {
  .specs {
    width: calc(100vw - 75px);
  }
  
  .specsItem {
    padding-right: 150px;
  }
}

.specsItem {
  padding-right: 50px;
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage img {
  width: 60%;

  position: relative;
  top: -150px;
}

@media (max-width: 1050px) {
  .heroImage img {
    width: 80%;
    top: -100px;
  }
}

@media (max-width: 750px) {
  .heroImage img {
    width: 100%;
    top: 0;
  }
  
  .heroImage {
    background-color: #f6f6f6;
    margin: 15px;
  }
}

.introApproach {
  max-width: 50vw;
  margin: 0 auto;
  position: relative;
  top: -150px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  text-align: center;
}

@media (max-width: 1050px) {
  .introApproach {
    max-width: 80vw;
    top: -100px;
  }
}

@media (max-width: 750px) {
  .introApproach {
    max-width: 100vw;
    top: 0;
  }
}

.introApproachLink {
  display: inline-block;
  flex-basis: 25%;
  padding: 10px;
  text-decoration: none;
}

.benchmarkingMap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-image: url(images/gucci/sectormap_brandnames_opt.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  transition: all .5s ease-in-out;
}

@media (max-width: 750px) {
  .benchmarkingMap{
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 400px) {
  .benchmarkingMap{
    width: 300px;
    height: 300px;
  }
}

.benchmarkingMap:hover {
  background-image: url(images/gucci/sectormap_emergentluxury_opt.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.keytakeAwaysWrapper{
  margin: 25px 0px;
  width: 100vw;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
  overflow: hidden;
}

.keytakeAwaysArrow {
  position: relative;
  right: -50px;
}

.keytakeAways {
  width: 40vw;
}

@media (max-width: 1050px) {
  .keytakeAways {
    width: 60vw;
  }
}

@media (max-width: 750px) {
  .keytakeAways {
    width: 100vw;
  }
}

/* Brand Analysis Collage */

.collage {
  margin: 30px 0px;
  width: 100vw;
  height: auto;
  
  transition: all .3s ease;
}

.collage img:nth-child(1) {
  display: inline-block;
  width: 100%;
  height: auto;
}

.collage img:nth-child(2) {
  display: none;
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .collage img:nth-child(1) {
    display: none;
  }
  .collage img:nth-child(2) {
    display: inline-block;
  }
}

/* Brand Analysis TakeAways */

.keytakeAwaysBigList {
  
  margin: 25px auto;
  width: 90vw;
  display: flex;
  flex-flow: row nowrap;
}

.keytakeAwaysBigList_item {
  flex-basis: 25%;
  padding: 10px;
}

.keytakeAwaysBigList_itemTwo {
  flex-basis: 50%;
  padding-right: 40px;
}

@media (max-width: 1050px) {
  .keytakeAwaysBigList {
    flex-flow: row wrap;
  }
  
  .keytakeAwaysBigList_item {
    flex-basis: 50%;
  }
}

@media (max-width:700px) {
  
  .keytakeAwaysBigList_item{
    flex-basis: 100%;
  }
  
  .keytakeAwaysBigList_itemTwo {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
}

.mockupPrototype {
  border: 2px solid red;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: center;
}

@media (max-width: 1150px){
  .mockupPrototype {
    flex-flow: column nowrap;
  }
}

.labelPrototypeItem {
  border: 2px solid blue;
  position: relative;
  padding: 25px;
  
  display: flex;
  flex-flow: column nowrap;
}

.labelPrototypeItem article {
  margin-bottom: 25px;
}

@media (max-width: 1150px){
  .labelPrototypeItem {
    flex-flow: row nowrap;
    padding: 0px;
  }
  
  .labelPrototypeItem article {
    flex-basis: 50%;
    margin-bottom: 0px;
    padding: 10px;
  }
  
  .prototypeImage {
    padding: 25px;
  }
}

.prototypeImage {
  min-width: 60vw;
  height: auto;
}

.prototypeImage img {
  width: 100%;
}

/* Emergent Luxury Code */

.circleGrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
      
  margin: 25px;
}

@media (max-width: 1000px){
  .circleGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
  
  .circleGridItem {
    margin-bottom: 15px;
  }
}

.circleGridImage {
  width: 160px;
  height: auto;
}

.circleGridFigures {
  display: flex;
  flex-flow: row nowrap;
}


.circleGridFigures figure {
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  
  flex-basis: 50%;
  text-align: center;
  padding: 15px 0px;
}

.circleGridList {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  
  padding-top: 15px;
}

.circleGridList ul {
  flex-basis: 50%;
}

/* Insight */

.insightGrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
}

@media (max-width:700px) {
  .insightGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
}

.insightImage {
  width: 100%;
  height: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.insightImage img {
  width: 100%;
  height: auto;
}

/* ---- SGH STYLES HERE ---- */

.benchmarkingMapSgh {
  margin: 0 auto;
  width: 620px;
  height: 526px;
  background-image: url(images/sgh/sghSectormapFirst.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  transition: all .5s ease-in-out;
}

@media (max-width: 850px) {
  .benchmarkingMapSgh{
    width: 400px;
    height: 306px;
  }
}

/* circle grid SGH */

.circleGridSubtitle {
  display: flex;
  flex-flow: row nowrap;
}

.circleGridSubtitle h3{
  border-top: 1px dotted black;
  
  flex-basis: 50%;
  text-align: center;
  padding: 15px 0px;
}

/* Premium perception map */

.sectorMapSgh {
  margin: 0 auto;
  width: 550px;
  height: 550px;
  background-image: url(images/sgh/sectorMapOne.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  transition: all .5s ease-in-out;
  filter: grayscale(1);
}

@media (max-width: 750px) {
  .sectorMapSgh{
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 400px) {
  .sectorMapSgh{
    width: 350px;
    height: 350px;
  }
}

.sectorMapSgh:hover {
  background-image: url(images/sgh/sectorMapTwo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0);
}

/* Art Direction & UX */

.artDirectionGrid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  grid-gap: 25px;
  padding: 25px;
}

@media (max-width: 950px) {
  .artDirectionGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    margin: 25px;
  }
  .artDirectionImage img {
    width: 500px;
  }
}

.artDirectionGridItem {
}

.artDirectionImage {
  width: 100%;
  text-align: center;
}

.artDirectionImage img{
  width: 300px;
}

/* Prototype */

.screenPrototype {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  margin: 25px 0px;
}

@media (max-width:1050px) {
  .screenPrototype {
    flex-flow: column nowrap;
  }
}

.prototypeFullImage {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.prototypeFullImage img {
  width: 100%;
  height: auto;
}


/*  ----- CURRICULUM VITAE STYLE -----  */

.anchorLinks {
  width: 60vw;
  margin-left: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.anchorLinksCv {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: .6em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
  padding: 5px;
}

.anchorLinksCv:hover {
  text-decoration: line-through;
}

.contactLinks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 60vw;
  margin: 25px 25px 25px 75px;
}

.contactLinks a {
  display: inline-block;
  padding: 10px;
}

.contactLinks a:hover {
  text-decoration: line-through;
}

@media (max-width: 750px) {
  .anchorLinks {
    margin-left: 35px;
  }
  
  .anchorLinksCv {
    padding: 10px 10px 10px 0px; 
  }
  
  .contactLinks {
    margin: 25px 25px 25px 35px;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items:
  }
  
  .contactLinks p {
    padding: 10px;
  }
}

.career {
  margin-left: 75px;
  width: 60vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.careerItem {
  flex-basis: 33.33%;
  padding: 25px 25px 25px 0px;
}

.careerItem ul {
  list-style: none;
  padding: 0;
}

@media (max-width:1050px) {
  .career {
    flex-flow: row wrap;
  }
  .careerItem {
    flex-basis: 50%;
  }
}

@media (max-width:750px) {
  .career {
    width: 90vw;
    margin-left: 35px;
  }
}

@media (max-width:450px) {
  .career{
    width: 80vw;
    margin-top: 35px;
  }
  
  .careerItem {
    flex-basis: 100%;
  }
}

.careerItem article {
  margin-bottom: 25px;
  text-align: left;
}

/* ----- FOOTER CASE STUDIES ----- */

.links {
  width: 100%;
  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  
  margin: 100px 0px;
}

.arrow {
  position: relative;
  width: 30vw;
  height: 1px;
  background-color: black;
}

.arrowCircleRight {
  position: absolute;
  top:-2px;
  right: 0px;
  
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

.arrowCircleLeft {
  position: absolute;
  top:-2px;
  left: 0px;
  
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

.dynamicLinks {
  width: 30vw;
  
  position: relative;
  
  display: flex;
  flex-flow: row nowrap;
}

.ctaLinks {
  flex-basis: 33.33%;
  
  display: inline-block;
  color: black;
  padding: 15px 0px;
  
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  font-size: .7em;
  transition: all .3s ease-in-out;
}

.ctaLinks:hover {
  text-decoration: line-through;
}

@media (max-width: 750px) {
  .links {
  }
  .arrow {
    width: 3vw;
  }
  .dynamicLinks {
    width: 90vw;
  }
}

/* Footer Image */

.footerImage {
  width: 100%;
  height: auto;
}

.footerImage img {
  width: 100%;
  height: auto;
}

/* ----- SINGAPORE AIRLINE START HERE ----- */

.sensorialCues {
  padding: 0px 50px;
  margin: 50px 0px;
}

.sensorialCuesList {
  display: flex;
  flex-flow: row nowrap;
}

.sensorialCuesListItem {
  font-family: 'Adobe Garamond Pro', sans-serif;
  flex-basis: 16.67%;
  list-style: none;
  padding: 15px;
}

@media (max-width: 1050px) {
  .sensorialCuesList {
    flex-flow: row wrap;
  }
  .sensorialCuesListItem {
    flex-basis: 33.33%;
  }
}

@media (max-width: 750px) {  
  .sensorialCuesListItem {
    flex-basis: 50%;
  }
}

/* ----- CASE STUDY : HOMEPAGE START HERE ----- */

.now {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.nowThumbnail {
  display: inline-block;
  position: relative;

  flex-basis: 25%;
  padding: 25px;
  
  transition: all .3s ease-in-out;
}

.thumbnailImage {
  height: auto;
  z-index: -1;
  opacity: .5;
  
  transition: all .3s ease-in-out;
}

.thumbnailImage img {
  width: 100%;
  height: auto;
}

.thumbnailTitle {
  position: absolute;
  top: 30px;
  left: 5px;
  
  z-index: 5;
  opacity: 1;
  
  color: black;
  font-family: 'Adobe Garamond Pro',serif;
  font-weight: lighter;
  font-size: 2.2em;
  letter-spacing: 1px;
  
  transition: all .4s ease-in-out;
}

.thumbnailImage:hover {
  z-index: 2;
  opacity: 1;
}

.nowThumbnail:hover .thumbnailTitle {
  z-index: -5;
  font-size: 1.8em;
  left: 10px;
  opacity: .2;
}
